.AdminSignup_Left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    animation: slideInRight;
    animation-duration: 0.5s;
}

.AdminSignup_Right {
    width: 40%;
    height: 100%;
    background-color: #253D35;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: slideInLeft;
    animation-duration: 1s;
}

.AdminSignup2_Main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.AdminSignup2_Body{
    width: 90%;
    height: 85vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.Adminsignup2_Left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.AdminSignup2_Left_img_wrap {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminSignup2_Left_img_wrap img{
    width: 100%;
}
.AdminSignup2Right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.AdminSignup2Right h2 {
    color: #253D35;
    font-family: 'Quicksand';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.76px;
}

.AdminSignup2Right p {
    color: #253D35;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;
    /* margin-bottom: ; */
}

.AdminSignup2_Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.AdminSignup2_PhoneNumber_Wrap{
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid #253D35;
    border-radius: 8px;
}
.AdminSignup2_PhoneNumber_Wrap input{
    width: 350px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}
.AdminSignup2_PhoneNumber_Wrap p{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    /* border-right: 1px solid #253D35; */
}
.AdminSignup2_Label_PhoneNumber{
    width: 100%;
    height: 50px;
    /* background-color: red; */
}
.AdminSignup2_Label_Username{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    /* background-color: red; */
}
.AdminSignup2_Label_Username input{
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 1px solid #253D35;
    border-radius: 8px;
    border-radius: 8px;
    outline: none;
}
.AdminSignup2_Label_Username p{
   position: absolute;
   padding: 10px;
   top: -28px;
   left: 10px;
   background-color: white;
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
}
input:focus::-moz-placeholder{
    opacity: 0;
}
input:focus::-ms-placeholder{
    opacity: 0;
}
.AdminSignup2_next_button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #253D35;
    color: white;
    cursor: pointer;
}
.AdminSignup_Goback_Arrow{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: -100px;
    left: 150px;
}
.AdminSignup2_Logo_Wrap img{
  width: 100px;
  height: 100px;
}
.AdminSignup2_next_button_wrap{
    width: 78%;
    display: flex;
    justify-content: flex-end;
    /* background-color: yellow; */
}
@media screen and (min-width: 200px) and (max-width: 768px){
    .AdminSignup_Right{
        display: none;
    }
    .AdminSignup2Right h2{
        font-size: 40px;
    }
    .Adminsignup2_Left{
        display: none;
    }
    .AdminSignup2Right{
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .AdminSignup2_Form{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .AdminSignup2_Label_Username{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        position: relative;
        /* background-color: red; */
    }
    .AdminSignup2_Label_Username p{
        position: absolute;
        padding: 10px;
        top: -28px;
        left: 180px;
        background-color: white;
     }
    .AdminSignup2_Label_Username input{
        width: 380px;
    }
    .AdminSignup2_Label_PhoneNumber{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .AdminSignup2_PhoneNumber_Wrap{
        width: 380px;
        display: flex;
        align-items: center;
        border: 1px solid #253D35;
        border-radius: 8px;
    }
    .AdminSignup2PhoneNumber{
        width: 380px;

    }
    .AdminSignup2_next_button_wrap{
        width: 380px;
        display: flex;
        justify-content: center;
    }
    .AdminSignup2_next_button{
        width: 380px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background: #253D35;
        color: white;
        cursor: pointer;
    }
}
@media screen and (max-width: 375px){
    .AdminSignup2_Label_Username p{
        position: absolute;
        padding: 10px;
        top: -28px;
        left: 30px;
        background-color: white;
     }
     .AdminSignup2Right h2{
        font-size: 30px;
    }
    .AdminSignup2Right p{
        font-size: 15px;
        text-align: center;
    }
     .AdminSignup2_PhoneNumber_Wrap{
        width: 300px;
        display: flex;
        align-items: center;
        border: 1px solid #253D35;
        border-radius: 8px;
    }
    .AdminSignup2PhoneNumber{
        width: 300px;

    }
    .AdminSignup2_Label_Username input{
        width: 300px;
    }
    .AdminSignup2_next_button_wrap{
        width: 300px;
        display: flex;
        justify-content: center;
    }
    .AdminSignup2_next_button{
        width: 300px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background: #253D35;
        color: white;
        cursor: pointer;
    }
}
@media screen and (max-width: 428px){
    .AdminSignup2_Label_Username p{
        position: absolute;
        padding: 10px;
        top: -28px;
        left: 30px;
        background-color: white;
     }
     .AdminSignup2_PhoneNumber_Wrap{
        width: 350px;
        display: flex;
        align-items: center;
        border: 1px solid #253D35;
        border-radius: 8px;
    }
    .AdminSignup2PhoneNumber{
        width: 350px;

    }
    .AdminSignup2_Label_Username input{
        width: 350px;
    }
    .AdminSignup2_next_button_wrap{
        width: 350px;
        display: flex;
        justify-content: center;
    }
    .AdminSignup2Right h2{
        font-size: 30px;
    }
    .AdminSignup2Right p{
        font-size: 20px;
        text-align: center;
    }
    .AdminSignup2_next_button{
        width: 350px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background: #253D35;
        color: white;
        cursor: pointer;
    }
}
@media screen and (max-width: 320px){
    .AdminSignup2_Label_Username p{
        position: absolute;
        padding: 10px;
        top: -28px;
        left: 30px;
        background-color: white;
        font-size: 15px;
     }
     .AdminSignup2Right h2{
        font-size: 20px;
        font-weight: 700;
    }
     .AdminSignup2_PhoneNumber_Wrap{
        width: 280px;
        display: flex;
        align-items: center;
        border: 1px solid #253D35;
        border-radius: 8px;
    }
    .AdminSignup2PhoneNumber{
        width: 280px;

    }
    .AdminSignup2_Label_Username input{
        width: 280px;
    }
    .AdminSIgnupImg_Header{
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
    }
    .AdminSignupimg_Goback_Arrow{
        width: 50%;
        margin-left: 40px;
        /* background-color: green; */
    }
    .AdminSIgnupImg_Header img{
        width:80px;
        height: 80px;
    }
    .AdminSignup2_next_button_wrap{
        width: 280px;
        display: flex;
        justify-content: center;
    }
    .AdminSignup2_next_button{
        width: 280px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background: #253D35;
        color: white;
        cursor: pointer;
    }
    .AdminSignup2Right p{
        font-size: 13px;
        text-align: center;
    }
}