.AdminResetPassword_Main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdminResetPassword_Header {
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AdminResetPassword_Header img {
    width: 100px;

}
.AdminResetPassword_Body {
    width: 90%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdminResetPassword_Body_Left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AdminResetPassword_Body_Left img {
    width: 100%;
}

.AdminResetPassword_Body_Right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: red; */

}
.AdminResetPassword_Body_Right_Wrap{
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.AdminResetPassword_Body_Right h2 {
    color: #253D35;
    font-family: 'Quicksand';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.76px;
    width: 80%;
}

.AdminResetPassword_Body_Right p {
    color: #253D35;
    font-family: 'Quicksand';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;
    width: 80%;

}

.AdminResetPasswordInput_Wrap {
    width: 450px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #7A8984;
    outline: none;
    margin-top: 20px;

}

.AdminResetPassword_input {
    width: 400px;
    border: none;
    outline: none;
}

@media screen and (max-width: 320px) {
    .AdminResetPassword_Main {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .AdminResetPassword_Body_Left {
        display: none;
    }

    .AdminResetPassword_Body_Right {
        display: flex;
        width: 100%;
        height: 85%;
    }

    .AdminResetPasswordInput_Wrap {
        width: 200px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid #7A8984;
        outline: none;
        margin-top: 20px;

    }

    .AdminResetPassword_input {
        width: 200px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .AdminResetPassword_Body_Right h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;

    }

    .AdminResetPassword_Body_Right p {
        text-align: center;
        font-size: 15px;
        width: 100%;

    }
    .AdminResetPassword_Header img {
        width: 80px;
    
    }
}

@media screen and (max-width:380px) {

    .AdminResetPassword_Main {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .AdminResetPassword_Body_Left {
        display: none;
    }

    .AdminResetPassword_Body_Right {
        display: block;
        width: 100%;
        height: 85%;
    }
    .AdminResetPasswordInput_Wrap {
        width: 250px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid #7A8984;
        outline: none;
        margin-top: 20px;

    }

    .AdminResetPassword_input {
        width: 200px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

@media screen and (max-width:480px) {

    .AdminResetPassword_Main {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .AdminResetPassword_Body_Left {
        display: none;
    }

    .AdminResetPassword_Body_Right {
        display: block;
        width: 100%;
        
    }
    .AdminResetPassword_Body_Right h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;

    }

    .AdminResetPassword_Body_Right p {
        text-align: center;
        font-size: 15px;
        width: 100%;

    }
    .AdminResetPasswordInput_Wrap {
        width: 250px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid #7A8984;
        outline: none;
        margin-top: 20px;

    }

    .AdminResetPassword_input {
        width: 200px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

@media screen and (max-width:768px) {

    .AdminResetPassword_Main {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .AdminResetPassword_Body_Left {
        display: none;
    }

    .AdminResetPassword_Body_Right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .AdminResetPassword_Body_Right h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;

    }

    .AdminResetPassword_Body_Right p {
        text-align: center;
        font-size: 15px;
        width: 100%;

    }
    .AdminResetPasswordInput_Wrap {
        width: 350px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid #7A8984;
        outline: none;
        margin-top: 20px;

    }

    .AdminResetPassword_input {
        width: 300px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

@media screen and (max-width: 850px) {

    .AdminResetPassword_Main {
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }

    .AdminResetPassword_Body_Left {
        display: none;
    }

    .AdminResetPassword_Body_Right {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .AdminResetPassword_Body_Right h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;

    }

    .AdminResetPassword_Body_Right p {
        text-align: center;
        font-size: 15px;
        width: 100%;

    }
}