.AdminDashBoard_Main{
    width: 100%;
    height: 100vh;
    display: flex;
}
.AdminDashboardLeft_Wrap{
    width: 10%;
    height: 100%;
    background: #EBEDEC;
}
.AdminDashboardRight_Wrap{
    width: 90%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}